---
# github pages will convert this automatically to style.css when publishing
---

$title_fonts: 'Raleway', sans-serif;
$body_fonts: 'Roboto', sans-serif;

@mixin filetype_link_icons() {
  
  a::before {
    font-family: 'FontAwesome';
    padding-right: 0.15em;
  }

  /* pdf files */
  a[href$='.pdf']::before {
    content: '\f1c1';
  }

  /* spreadsheet files */
  a[href$='.xls']::before,
  a[href$='.xlsx']::before,
  a[href$='.ods']::before,
  a[href$='.csv']::before {
    content: '\f1c3';
  }

  /* word processor files */
  a[href$='.doc']::before,
  a[href$='.docx']::before,
  a[href$='.odf']::before,
  a[href$='.rtf']::before {
    content: '\f1c2';
  }

  /* slideshow files */
  a[href$='.ppt']::before,
  a[href$='.pptx']::before,
  a[href$='.ppts']::before,
  a[href$='.uop']::before {
    content: '\f1c4';
  }

  /* audio files */
  a[href$='.mp3']::before,
  a[href$='.m4a']::before,
  a[href$='.ogg']::before,
  a[href$='.wma']::before,
  a[href$='.mid']::before,
  a[href$='.wav']::before {
    content: '\f1c7';
  }

  /* video files */
  a[href$='.mp4']::before,
  a[href$='.avi']::before,
  a[href$='.flv']::before,
  a[href$='.wmv']::before,
  a[href$='.mov']::before,
  a[href$='.3gp']::before {
    content: '\f1c8';
  }

  /* image files */
  a[href$='.jpg']::before,
  a[href$='.jpeg']::before,
  a[href$='.png']::before,
  a[href$='.gif']::before,
  a[href$='.svg']::before,
  a[href$='.bmp']::before {
    content: '\f1c5';
  }

  /* code files */
  a[href$='.tex']::before,
  a[href$='.py']::before,
  a[href$='.praat']::before,
  a[href$='.java']::before {
    content: '\f1c9';
  }

  /* raw text files */
  a[href$='.txt']::before {
    content: '\f0f6';
  }

  /* archive files */
  a[href$='.zip']::before,
  a[href$='.gz']::before,
  a[href$='.tar']::before,
  a[href$='.7z']::before,
  a[href$='.bz2']::before,
  a[href$='.rar']::before {
    content: '\f1c6';
  }
}

@keyframes bobbing {
  0% {
    padding-bottom: 5px;
  }
  100% {
    padding-bottom: 15px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: $body_fonts;
  font-family: 14pt;
  letter-spacing: 0.05em;
  min-width: 550px;
}

h1, h2, h3 {
  font-family: $title_fonts;
  color: #EFDAAB;
}

h1 {
  font-size: 48pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

header::before {
  display: block;
  content: '';
  z-index: -3;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.75)),
    url('../images/header.jpg') center/cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transform: scale(1.1);
}

header {
  z-index: -2;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.75));
  text-align: center;
  h1 {
    margin: 0 auto;
    width: 500px;
    font-weight: 100;
    letter-spacing: 2pt;
    padding-top: 40vh;
    color: #EFDAAB;
    border-bottom: 1px solid #FFA315;
    text-shadow: 0 0 10px #000;
    box-shadow: 0 50px 50px -50px rgba(0,0,0,0.75);
  }
  h2 {
    letter-spacing: 4pt;
    color: #FFA315;
  }
  h1[data-ipa]::before {
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 10pt;
    content: '[' attr(data-ipa) ']';
  }
  #scroll {
    position: absolute;
    bottom: 15px;
    color: rgba(#EFDAAB, 0.3);
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-decoration: none;
    border-bottom: 4pt solid rgba(#EFDAAB, 0.2);
    font-size: 0;
    transition: all 0.25s ease;
    animation: bobbing 1s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &::before {
      font-family: 'FontAwesome';
      font-size: 42pt;
      content: '\f0a7';
      animation: bobbing 1s ease;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    &:hover {
      color: rgba(#EFDAAB, 0.5);
      text-shadow: 0 0 10px rgba(0,0,0,0.5);
      border-bottom: 4pt solid rgba(#EFDAAB, 0.3);
    }
  }
}

#content {
  position: relative;
  min-height: 100vh;
  background: #fdfaf4;
  margin-top: 100vh;
  box-shadow: 0 -20px 20px rgba(0,0,0,0.25);
  padding-bottom: 300px;
  img#amy {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -500px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #EFDAAB;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
  }
}

nav {
  text-align: center;
  height: 50px;
  font-family: $title_fonts;
  a {
    color: #FF7728;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px solid #FF7728;
  }
  ul {
    padding-top: 15px;
  }
  ul li {
    padding: 0 10px;
    font-size: 16pt;
    display: inline-block;
  }
}

main {
  padding: 15px;
  color: #070616;
  width: 800px;
  margin: 0 auto;
  p {
    margin: 15px auto;
    text-align: justify;
    line-height: 125%;
    font-weight: 300;
    @include filetype_link_icons;
    img {
      display: block;
      max-width: 600px;
      margin: 0 auto;
      padding: 30px 0;
    }
  }
  a {
    color: #FF7728;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2, h3 {
    a::before {
      position: absolute;
      margin-left: -1.5em;
      content: '\f0c1';
      opacity: 0.4;
    }
    a:hover::before {
      opacity: 0.6;
    }
    @include filetype_link_icons;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #070616;
  font-family: $title_fonts;
  text-align: center;
  padding-top: 50px;
  color: #fdfaf4;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  z-index: 9;
  .left, .right {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
  }
  .cv {
    position: relative;
    font-size: 12pt;
    font-weight: 100;
    &::before {
      position: absolute;
      display: block;
      content: '\f1c1';
      font-family: 'FontAwesome';
      font-size: 42pt;
      top: -52pt;
      left: 50%;
      margin-left: -18pt;
    }
    &::after {
      position: absolute;
      top: -28pt;
      left: 50%;
      margin-left: 4pt;
      display: block;
      content: '\f019';
      font-family: 'FontAwesome';
      font-size: 28pt;
      text-shadow:
        0 0 5px #000,
        0 0 10px #000;
    }
  }
  a {
    color: #fdfaf4;
    text-decoration: none;
    transition: color 0.15s ease;
  }
  a:hover {
    color: #FF7728;
  }
  .email {
    display: block;
    font-size: 18pt;
    margin-bottom: 10px;
  }
  .email::before {
    vertical-align: middle;
    font-size: 24pt;
    font-family: 'FontAwesome';
    content: '\f003';
    margin-right: 10px;
  }
  ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
  ul li {
    display: inline-block;
    font-weight: 100;
  }
  ul li:first-child::after {
    content: ' // ';
  }
}

footer::before {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -315px;
  margin-top: -60pt;
  height: 60pt;
  overflow: hidden;
  content: 'Amy Hemmeter';
  font-size: 72pt;
  font-weight: 700;
  color: #070616;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  white-space: nowrap;
}

@media(max-width: 1150px) {
  header::before {
    background-position: right;
  }
}

@media(max-width: 580px) {
  header {
    position: auto;
    height: 400px;
  }
  #content {
    margin-top: 400px;
  }
  #scroll {
    display: none;
  }
}
