<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Amy Hemmeter</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet prefetch" href="//fonts.googleapis.com/css?family=Roboto:400,300,700|Raleway:400,100,700">
    <link rel="stylesheet prefetch" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="icon" sizes="any" href="/images/icon_quote.png">
  </head>
  <body>
    <header>
      <h1 data-ipa="eɪmi hɛməɾɹ̩">Amy Hemmeter</h1>
      <h2>Phonetics &amp; Sociolinguistics</h2><a id="scroll" href="#content" title="Scroll Down">Scroll Down</a>
    </header>
    <div id="content">
      <img src="/images/amy.jpg" alt="Amy Hemmeter" title="Amy Hemmeter">
      <nav>
        <ul>
          <li><a href="/index.html#content">About Me</a></li>
          <li><a href="/cv.html#content">Curriculum Vitae</a></li>
          <li><a href="/research.html#content">Research</a></li>
          <li><a href="//beyondthefourthfloorblog.com/" class="external" target="_blank">Linguistics Blog</a></li>
        </ul>
      </nav>
      <main>
        {{ content }}
      </main>
      <footer>
        <div class="left"><a href="files/amy_hemmeter_cv.pdf" class="cv" target="_blank">Download my CV</a></div>
        <div class="right"><a href="mailto:ahemmet@ncsu.edu" class="email">ahemmet@ncsu.edu</a>
          <ul>
            <li><a href="http://www.ncsu.edu/linguistics/" class="external" target="_blank">NCSU Linguistics</a></li>
            <li><a href="http://phon.wordpress.ncsu.edu/" class="external" target="_blank">Phonology Lab</a></li>
          </ul>
        </div>
      </footer>
    </div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        /* smooth scroll function
         * ref: https://css-tricks.com/snippets/jquery/smooth-scrolling/ */
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
    </script>
  </body>
</html>
